
/********************* Breakpoints *********************/

/* Pour les tablettes */
@media screen and (min-width: 768px) and (max-width: 1024px) {
   
    html{
        --principale:#0065FC;
        --secondaire: #DEEBFF;
        --fond: #F2F2F2;
    }

    body {
        padding:0 50px;
    }

    /* Header  */

    .header-logo img{
        width: 61px;
        /* margin-left: 10px;
        margin-right: 10px; */
        margin: 0;
        padding: 30px 0px 30px 0px;
      
    }

    /* Div .header-accueil */

    /* Div .header-presentation */

    /* Section Recherche (Form, 2 div: .conteneur-filtre, .conteneur-info) */ 

    /* Form avec 2 div (.conteneur-formulaire, .conteneur-btn-form) */

    .conteneur-formulaire input[type="search"] {
        width: 220px;
        padding: 24px;
        font-weight: bold;
        font-size: 18px;
        border: none;
        border: 2px solid var(--fond);
    }

    .conteneur-formulaire label {
        width: 50px;
        height: 49px;
        font-size: 22px;
        border-radius: 20px 0 0 20px;
        cursor: default;
        background-color: var(--fond);
        justify-content: center;
    }

    .btn-form-mobile {
        display: none; 
    }

    .btn-form-desktop {
        display: inline-block; 
        padding: 10px 20px; 
              
    }

   /* Div .conteneur-filtre */

   .conteneur-filtre {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}  
   .conteneur-filtre h2 {
    width: 100%;
    margin-top: -5px;
    margin-bottom: 10px;
}

.filtre-conteneur { 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
}


   /* Div .conteneur-info */

   /* Main */

   /* Section .main-hebergement */

   .main-hebergement {
    flex-direction: column; 
}

   /* Div .conteneur-hebergement */

   .conteneur-hebergement {
      
       justify-content: center;
       margin: 0 0 50px 0; 
       width:100%;
   }

   /* Div .conteneur-populaire */

   .conteneur-populaire {
      
       justify-content: center;
       margin-bottom: 35px; 
   }

   .conteneur-populaire {
    order: 2; 
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
}

.box-carte-populaire{
    display: flex;
    flex-direction: row;
    gap : 20px;
    align-items: stretch;
}

.populaire-prix h3 {
    font-size:16px;
}

.populaire-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 5px 5px 15px;
    width:100%;
}

   
   /* Section .main-activite */


   .main-activite{
    margin-top: 0;
    padding: 30px 30px 30px 30px;
}

.main-activite img {
    height: 270px;
}

    /* Div #activite .titre-activite avec une balise h2 */


    /* Div .conteneur-carte-activite */


    .conteneur-carte-activite{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0 0 0 ;
    }

    
    .conteneur-carte-activite a{
        position: relative;
        width: 23%;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.379);
    }


    .carte-activite{
        height: 100%;
    }

    figcaption{
        position: absolute;
        bottom: 0;
        padding:20px 19px 20px 19px;
        width: 100%;
        height:70px; /* !! */
        font-weight: 700;
        color: black;
        background-color: white;
        line-height:20px;
        font-size:16px;
    }

    /* Footer */


    footer {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: var(--fond);
        margin:35px 0px 0 0px;
        width:100%;
    }

    /* pour aligner vers les gauches les sous-menus du footer */ 
.footer-infos, .footer-hebergement, .footer-assistance {
    width:30%;
}

}

